@model BillDetailResponse

<!-- breadcrumb part start-->
<section class="breadcrumb_part">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner">
                    <h2 style="font-family:Arial">Chi tiết đơn hàng</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb part end-->
<!--================Bill Area =================-->
<section class="confirmation_part" style="padding:70px 0;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="confirmation_tittle">
                    <span>Cảm ơn bạn đã mua hàng và luôn tin tưởng Sun Store.</span>
                </div>
                <a style="margin:40px 0;" href="#" onclick="window.history.back()" class="btn_3 me-3">Trở lại</a>
                <a style="margin:40px 0;" asp-controller="Bills" asp-action="Index" class="btn_3">Lịch sử mua</a>
            </div>
            <div class="col-lg-6 col-lx-4">
                <div class="single_confirmation_details">
                    <h4 style="font-family:Arial;font-weight:bold;">Thông tin giao hàng</h4>
                    <ul>
                        <li style="padding-left: 40%;">
                            <p>Tên khách hàng</p><span>: @Model.CustomerName</span>
                        </li>
                        <li style="padding-left: 40%;">
                            <p>Địa chỉ</p><span>: @Model.Address</span>
                        </li>
                        <li style="padding-left: 40%;">
                            <p>Số điện thoại</p><span>: @Model.Phone</span>
                        </li>
                        <li style="padding-left: 40%;">
                            <p>Phương thức thanh toán</p><span>: @Model.Payment</span>
                        </li>
                        @if (@Model.Note != null)
                        {
                            <li style="padding-left: 40%;margin-top:20px;">
                                <p>Lưu ý khi ship</p>
                            </li>
                            <p style="padding-top:20px;width:75%;">@Model.Note</p>
                        }

                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-lx-4">
                <div class="single_confirmation_details">
                    <div style="text-align:center;width:100%;">
                        <h4 style="font-family:Arial;font-weight:bold;">Trạng thái đơn hàng</h4>
                        <div style="width:100%;display:flex;justify-content:center;margin-bottom:30px;">
                            <p style="color:white; background-color:red; font-weight:bold; padding: 10px auto; font-size:17px;
                                      border:none; border-radius:4px;text-align:center; width:55%;">
                                @Model.Status
                            </p>
                        </div>
                    </div>

                    <ul>
                        @if (Model.VoucherCode != "Không có")
                        {
                            <li style="padding-left: 40%;">
                                <p>Voucher</p><span>: @Model.VoucherCode</span>
                            </li>
                        }
                        @if (Model.Shipper != "Chưa có")
                        {
                            <li style="padding-left: 40%;">
                                <p>Shipper</p><span>: @Model.Shipper</span>
                            </li>
                        }


                    </ul>

                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="order_details_iner">
                    <h3 style="font-family:Arial;font-weight:bold;">Thông tin đơn hàng</h3>
                    <table class="table table-borderless">
                        <thead>
                            <tr>
                                <th scope="col" colspan="2">Sản phẩm</th>
                                <th scope="col">Số lượng</th>
                                <th scope="col">Tổng</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                double? subtotal = 0;
                            }
                            @foreach (var item in Model.Items)
                            {
                                <tr>
                                    <th colspan="2"><span>@item.ProductOptionName (Size: @item.ProductOptionSize)</span></th>
                                    <th>x @item.Quantity</th>
                                    <th> <span>@($"{item.Price:N0}đ")</span></th>
                                </tr>
                                subtotal += item.Price;
                            }


                            <tr>
                                <th colspan="3">Tổng</th>
                                <th> <span>@($"{subtotal:N0}đ")</span></th>
                            </tr>
                            <tr>
                                <th colspan="3">Shipping</th>
                                <th><span>20,000đ</span></th>
                            </tr>

                            @{
                                subtotal += 20000;
                            }

                            @if (Model.VoucherPercent != 0)
                            {
                                int vch = Model.VoucherPercent;
                                var dis = subtotal * vch / 100;
                                subtotal -= dis;
                                <tr>
                                    <th colspan="3">Voucher</th>
                                    <th><span>- (@Model.VoucherPercent %) @($"{dis:N0}đ")</span></th>
                                </tr>
                            }

                        </tbody>

                        <tfoot>
                            <tr>
                                <th scope="col" colspan="3">Tổng cộng</th>
                                <th scope="col">@($"{Model.Order.TotalPrice:N0}đ")</th>
                            </tr>
                            @if (Model.Payment == "COD" && Model.Status != "Đã giao hàng")
                            {
                                <tr>
                                    <th scope="col" colspan="3">Đặt cọc (30%)</th>
                                    <th scope="col">@($"{Model.Order.TotalPrice*0.3:N0}đ")</th>
                                </tr>
                                <tr>
                                    <th scope="col" colspan="3">Số tiền còn phải thanh toán</th>
                                    <th scope="col">@($"{Model.Order.TotalPrice*0.7:N0}đ")</th>
                                </tr>
                            }
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

