@using X.PagedList
@using X.PagedList.Mvc.Core
@model PagedResult<Product>

@{
    ViewData["Title"] = "Index";
}

<div class="d-flex justify-content-center">
    <div class="w-75">
        <h1 style="text-align:center; font-family:Arial;font-weight:bolder">Quản lí sản phẩm</h1>

        <section class="d-flex justify-content-between align-items-center my-4">
            <div class="d-flex gap-3">
                <form asp-action="Index" method="get">
                    <div class="d-flex gap-3">
                        <input class="form-control" value="@Context.Request.Query["keyword"]" name="keyword" placeholder="Tìm kiếm theo tên..." />
                        <button class="btn btn-primary" type="submit">Tìm</button>
                    </div>
                </form>
                <div>
                    <a asp-action="Index" class="btn btn-danger">Xóa bộ lọc</a>
                </div>
            </div>

            <div class="d-flex justify-content-end mb-2">
                <p style="margin-right: 30px;">
                    <a class="genric-btn info radius" asp-action="Create">Tạo sản phẩm mới</a>
                </p>
                <p style="margin-right: 30px;">
                    <a class="genric-btn info radius" asp-controller="ProductOptions" asp-action="Create">Thêm size cho sản phẩm</a>
                </p>
                <p>
                    <a class="genric-btn info radius" asp-controller="Categories" asp-action="Create">Tạo Category</a>
                </p>
            </div>
        </section>
        <table class="table table-hover">
            <thead class="bg-info">
                <tr>
                    <th>
                        Product Name
                    </th>
                    <th>
                        Image
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Release Date
                    </th>
                    <th>
                        Is Active
                    </th>
                    <th>
                        Category
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Items.Count == 0)
                {
                    @: Không tìm thấy sản phẩm nào.
                }

                else
                {
                    @foreach (var item in Model.Items)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td style="width:10%;">
                                <img style="width:100%;" src="@(item.Image != null
                                    ? item.Image
                                    : Url.Content("~/ProductImg/default.jpg"))" />
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ReleaseDate)
                            </td>
                            <td>
                                @if (item.IsDeleted.HasValue)
                                {
                                    @if (item.IsDeleted.Value)
                                    {
                                        <i class="fa-solid fa-rectangle-xmark text-danger fs-5 status-icon-@item.Id"></i>
                                    }
                                    else
                                    {
                                        <i class="fa-solid fa-square-check text-success fs-5 status-icon-@item.Id"></i>
                                    }
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Category.Name)
                            </td>
                            <td>
                                <div class="d-flex gap-3">
                                    <a class="btn btn-primary radius" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                    <a class="btn btn-success primary radius" asp-action="ProductDetail"
                                    asp-controller="Home" asp-route-id="@item.ProductOptions?.FirstOrDefault()?.Id">Details</a>
                                    <a class="btn radius text-white toggle-status-btn @(item.IsDeleted.Value ? "btn-success" : "btn-danger")"
                                       data-id="@item.Id">
                                        @(item.IsDeleted.Value ? "Restore" : "Deactivate")
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        <nav class="pb-4 pt-2">
            @Html.PagedListPager(
                     new StaticPagedList<Product>(Model.Items, Model.CurrentPage, 9, Model.TotalPages * 9),
                     page => Url.Action("Index", "Products", new
                     {
                         page = page,
                         keyword = Context.Request.Query["keyword"],
                     }),
                     new PagedListRenderOptions()
            {
                LiElementClasses = new List<String> { "page-item" },
                PageClasses = new List<String> { "page-link" },

                DisplayLinkToFirstPage = PagedListDisplayMode.Always,
                DisplayLinkToLastPage = PagedListDisplayMode.Always,

                LinkToFirstPageFormat = "«",
                LinkToLastPageFormat = "»",
            }
                     )
        </nav>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $(".toggle-status-btn").on("click", function (e) {
                e.preventDefault();
                const button = $(this);
                const productId = button.data("id");

                const statusIcon = $(`.status-icon-${productId}`);
                const isDeleted = statusIcon.hasClass("text-danger");

                Swal.fire({
                    title: `Bạn có muốn ${isDeleted ? "khôi phục" : "vô hiệu hóa"} sản phẩm này không?`,
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: isDeleted ? "Khôi phục" : "Vô hiệu hóa"
                }).then((result) => {
                    if (result.isConfirmed) {
                        toggleProductStatus(productId, button, isDeleted);
                    }
                });
            });

            function toggleProductStatus(productId, button, isDeleted) {
                const statusIcon = $(`.status-icon-${productId}`);
                $.ajax({
                    type: "PUT",
                    url: `https://localhost:7270/api/Products/status/${productId}`,
                    xhrFields: {
                        withCredentials: true
                    },
                    success: function (response) {
                        if (response.isSuccessful) {
                            if (isDeleted) {
                                button.removeClass('btn-success').addClass('btn-danger').text("Delete");
                                statusIcon
                                    .removeClass("fa-rectangle-xmark text-danger")
                                    .addClass("fa-square-check text-success");
                            } else {
                                button.removeClass('btn-danger').addClass('btn-success').text("Restore");
                                statusIcon
                                    .removeClass("fa-square-check text-success")
                                    .addClass("fa-rectangle-xmark text-danger");
                            }
                        }
                    },
                    error: function () {
                        alert("Failed");
                    }
                });
            }
        });
    </script>
}
