@model PagedResult<UserViewModel>
@using X.PagedList
@using X.PagedList.Mvc.Core

@{
    ViewData["Title"] = "Index";
    const int PAGE_SIZE = 10;
}

<div class="container">
    <h1 style="text-align:center; font-family:Arial;font-weight:bolder">Quản lí tài khoản</h1>

    <p>
        <a class="genric-btn info radius" asp-action="Create">Tạo mới</a>
    </p>
    <table class="table table-hover mt-2">
        <thead class="bg-info">
            <tr>
                <th>
                    Full name
                </th>
                <th>
                    Address
                </th>
                <th>
                    BirthDate
                </th>
                <th>
                    Email
                </th>
                <th>
                    PhoneNumber
                </th>
                <th>
                    Role
                </th>
                <th>
                    IsBanned
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BirthDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        @switch (item.Role)
                        {
                            case 1:
                                @: Admin
                                break;
                            case 2:
                                @: Customer
                                break;
                            case 3:
                                @: Shipper
                                break;
                        }
                    </td>
                    <td>
                        @if (item.IsBanned == 1)
                        {
                            @:Yes
                        }
                        else
                        {
                            @:No
                        }
                    </td>

                    <td>
                        <a class="genric-btn warning radius" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a class="genric-btn primary radius ml-1" asp-action="Details" asp-route-id="@item.Id">Details</a>
                        <a class="genric-btn danger radius mt-2" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <nav class="py-3">
        @Html.PagedListPager(
                 new StaticPagedList<UserViewModel>(Model.Items, Model.CurrentPage, PAGE_SIZE, Model.TotalItems),
                 page => Url.Action("Index", new
                 {
                     currentPage = page,
                     pageSize = PAGE_SIZE
                 }),
                 new PagedListRenderOptions
        {
            LiElementClasses = new List<string> { "page-item" },
            PageClasses = new List<string> { "page-link" },

            DisplayLinkToFirstPage = PagedListDisplayMode.Always,
            DisplayLinkToLastPage = PagedListDisplayMode.Always,

            LinkToFirstPageFormat = "«",
            LinkToLastPageFormat = "»",
        }
                 )
    </nav>

</div>
