@model LoginRequestViewModel

<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />

<div style="width: 100%; display:flex; justify-content:center" class="">
    <div class="containerr">
        <div class="head">Log In</div>
        <form method="post" asp-action="Login" asp-controller="Users" class="form">
            <input asp-for="@Model.Email" class="inp mb-3" placeholder="Email">
            <span asp-validation-for="@Model.Email" class="text-danger"></span>
            <input asp-for="@Model.Password" class="inp mb-3" type="password" placeholder="Mật khẩu">
            <span asp-validation-for="@Model.Password" class="text-danger"></span>

            @if (ViewBag.Error != null)
            {
                <p style="color:red; margin: 10px;">@ViewBag.Error</p>
            }

            else if (ViewBag.ResetPassword != null)
            {
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <small>@ViewBag.ResetPassword</small>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }

            <span class="forgot-password"><a asp-action="ResetPassword">Forgot Password ?</a></span>
            <input class="login-button" type="submit" value="Đăng nhập">
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
