@using SunStore.ViewModel.RequestModels
@model UpdatePasswordRequestViewModel

<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />

<div style="width: 100%; display:flex; justify-content:center" class="">
    <div class="containerr">
        <div class="head">Reset Password</div>
        <form method="post" asp-action="NewPassword" asp-controller="Users" class="form">
            <input name="Email" value="@Model.Email" class="inp mb-3" type="hidden">
            <input name="Otp" value="@Model.Otp" class="inp mb-3" type="hidden">

            <input asp-for="@Model.Password" type="password" class="inp mb-3" placeholder="Nhập mật khẩu mới">
            <span asp-validation-for="@Model.Password" class="text-danger"></span>

            <input asp-for="@Model.ConfirmPassword" type="password" class="inp mb-3" placeholder="Xác nhận mật khẩu">
            <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>

            @if (ViewBag.Error != null)
            {
                <p style="color:red; margin: 10px;">@ViewBag.Error</p>
            }
            <input class="login-button" type="submit" value="Cập nhật">
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
